header nav.navbar {
  margin-bottom: 0;
  border: none; }

header .glyphicon {
  font-size: 30px;
  color: #000; }

header .glyphicon-user {
  font-size: 45px; }

header .glyphicon-bell {
  padding-top: 8px; }

header nav div.dropdown {
  margin-top: 28px;
  float: left; }

header nav .open .dropdown-menu i {
  margin-right: 20px;
  width: 14px;
  text-align: center; }

header .navbar-right .tbadge {
  position: relative; }
  header .navbar-right .tbadge .badge {
    position: absolute;
    right: 5px;
    top: 22px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 5px;
    font-size: 10px; }

.create-page {
  padding-bottom: 20px; }
  .create-page .title-name {
    font-weight: 600; }
  .create-page .panel-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 5px; }
  .create-page .clarify {
    padding-top: 10px; }
  .create-page .checkbox {
    margin-bottom: 10px; }
  .create-page span button {
    margin-top: 6px; }
  .create-page .description {
    position: relative; }
    .create-page .description span {
      right: 30px;
      bottom: 5px;
      position: absolute; }
  .create-page .drop {
    position: relative;
    min-height: 150px; }
    .create-page .drop input {
      position: absolute;
      opacity: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      cursor: pointer; }
  .create-page i {
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    position: absolute;
    bottom: 50%;
    left: 50%; }
  .create-page .table input[type=time] {
    width: 75px; }
  .create-page .table td:not(:first-child) {
    vertical-align: middle;
    text-align: center; }
  .create-page .table td {
    border-top: none; }
  .create-page .second {
    margin: 50px 0; }

.worker .added {
  margin-top: 30px;
  margin-bottom: 30px; }

.worker .btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle; }

.worker input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: block;
  min-height: 100%;
  min-width: 100%; }

.booking .pay {
  margin-top: 20px; }

.booking .time-cancel {
  margin: 0 20px 0 80px; }

.holiday .btn {
  margin-top: 30px; }

.extra select {
  margin-left: 30px; }

.footer {
  border-top: 1px solid #ddd;
  padding: 15px 0 10px 0; }
  .footer .navbar-brand {
    color: #333333; }
  .footer .navbar-left li a {
    color: #5B9AC8; }
  .footer .navbar-right i {
    color: #333333; }
