header nav.navbar {
  margin-bottom: 0;
  border: none; }

header .glyphicon {
  font-size: 30px;
  color: #000; }

header .glyphicon-user {
  font-size: 45px; }

header .glyphicon-bell {
  padding-top: 8px; }

header nav div.dropdown {
  margin-top: 28px;
  float: left; }

header nav .open .dropdown-menu i{
  margin-right: 20px;
  text-align: center;
  width: 14px; }

.option {
  padding: 10px; }
  .option div.dropdown {
    float: right;
    padding-right: 10px; }
    .option .open .dropdown-toggle {
      padding: 0 15px; }

.main .panel {
  border: none; }

.main .panel .list-group-item {
  border-radius: 0; }

.main > .col-md-2 {
  padding: 0; }

.main > .col-md-10 {
  padding: 0 0 0 20px; }

.main .panel-heading {
  background-color: #337ab7;
  color: #fff;
  text-align: center;
  padding: 15px; }

.main .list-group-item .checkbox {
  margin: 0; }

section .agency {
  position: relative;
  min-height: 200px;
  margin-bottom: 10px;
  border: 1px solid #ddd; }
  section .agency .row {
    padding: 10px; }
  section .agency .rating {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    unicode-bidi: bidi-override;
    direction: rtl; }
    section .agency .rating > span:hover:before,
    section .agency .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute; }

section .base {
  padding: 0 10px; }
  section .base h1 {
    margin-top: 0; }
  section .base h3 {
    color: #5B9AC8; }

.footer {
  border-top: 1px solid #ddd;
  padding: 15px 0 10px 0; }
  .footer .navbar-brand {
    color: #333333; }
  .footer .navbar-left li a {
    color: #5B9AC8; }
  .footer .navbar-right i {
    color: #333333; }
