header nav.navbar {
  margin-bottom: 0;
  border: none; }

header .glyphicon {
  font-size: 30px;
  color: #000; }

header .glyphicon-user {
  font-size: 45px; }

header .glyphicon-bell {
  padding-top: 8px; }

header nav div.dropdown {
  margin-top: 28px;
  float: left; }

header nav .open .dropdown-menu i {
  margin-right: 20px;
  width: 14px;
  text-align: center; }

header .navbar-right .tbadge {
  position: relative; }
  header .navbar-right .tbadge .badge {
    position: absolute;
    right: 5px;
    top: 22px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 5px;
    font-size: 10px; }

.main-menu form {
  margin: 15px 5px; }

.main-menu .btn-group:not(:last-child) a {
  border-right: 0; }

.main .col-md-7 {
  padding-left: 0; }

.main .col-md-5 {
  padding-right: 0; }

.main .carousel {
  margin: 10px 0; }
  .main .carousel .carousel-inner .item {
    min-width: 100%;
    height: auto; }

.unit .title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px; }

.footer {
  border-top: 1px solid #ddd;
  padding: 15px 0 10px 0; }
  .footer .navbar-brand {
    color: #333333; }
  .footer .navbar-left li a {
    color: #5B9AC8; }
  .footer .navbar-right i {
    color: #333333; }
